*, *::before, *::after {
    box-sizing: border-box;
  }
  
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -610px;
   
  }
  
  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    color: white;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 51, 51);
  }

  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 3px solid hsl(var(--hue), 100%, 30%);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
  }
  
  .btn:hover {
    border-color: black;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }
  
  
  
  
  
  
  
