/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body {
    background-color: rgb(235, 158, 128);
    display: flex;
    justify-content: center;
    align-items: center;
}



.buttons {
    margin-top: 20%;
}

#start_btn {
    display:flex;
        flex-direction: column;
        justify-content: flex-end;
        transform: (50%, -50%);
        padding:10px;
        border:0.1em solid #FFFFFF;
        margin:20px;
        margin-top: 50px;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#000000;
        text-align:center;
        transition: all 0.2s;
}

.buttons button {
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        transform: (50%, -50%);
        padding:10px;
        border:0.1em solid #FFFFFF;
        margin:20px;
        margin-top: 50px;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#000000;
        text-align:center;
        transition: all 0.2s;
        }

    .buttons button:hover{
        color:#000000;
        background-color:#FFFFFF;
        } */
