* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body {
    background-color: lightsalmon;
}

.start_btn,
.info_box,
.quiz.box,
.result_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}